<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.ui.newWizards">
      <!-- @generated hibernate -->
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="org.yazgel.hibernate.presentation.HibernateModelWizardID"
            name="%_UI_HibernateModelWizard_label"
            class="org.yazgel.hibernate.presentation.HibernateModelWizard"
            category="org.eclipse.emf.ecore.Wizard.category.ID"
            icon="icons/full/obj16/HibernateModelFile.gif">
         <description>%_UI_HibernateModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <!-- @generated hibernate -->
      <editor
            id="org.yazgel.hibernate.presentation.HibernateEditorID"
            name="%_UI_HibernateEditor_label"
            icon="icons/full/obj16/HibernateModelFile.gif"
            extensions="hibernate"
            class="org.yazgel.hibernate.presentation.HibernateEditor"
            contributorClass="org.yazgel.hibernate.presentation.HibernateActionBarContributor">
      </editor>
   </extension>

</plugin>
