<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<plugin>

  <extension point="org.eclipse.emf.ecore.generated_package">
    <package 
       uri = "http://www.yazgel.org/jpql/xtext/JPQL" 
       class = "org.yazgel.jpql.xtext.jPQL.JPQLPackage"
       genModel = "model/generated/JPQL.genmodel" /> 
	
  </extension>



</plugin>
